[submodule "bundle/vim-tex-syntax"]
	path = bundle/vim-tex-syntax
	url = git@github.com:gerw/vim-tex-syntax.git
[submodule "bundle/vim-latex-suite"]
	path = bundle/vim-latex-suite
	url = git@github.com:gerw/vim-latex-suite.git
[submodule "bundle/Color-Sampler-Pack"]
	path = bundle/Color-Sampler-Pack
	url = git@github.com:vim-scripts/Color-Sampler-Pack.git
